body{
    background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);
}
.col-md-7{
    margin-top: 15px !important;
    background-color: white;
    padding: 20px;
}
 h1{
    background: blue;
    color: white ;
 }
 input , label{
    margin: 10px;
    font-size: 20px;
    font-weight: bold, mnbv;
 }